DEV_MODE=
VERTEX_CLOUD_PROJECT=
VERTEX_MODEL_STORE=
VERTEX_LOCATION=
VERTEX_ARTIFACTS_DIR=
SEED_CANDIDATES_FILE=
WORKER_IMAGE_URI=
WORKER_SERVICE_ACCOUNT=
MACHINE_TYPE=
ACCELERATOR_TYPE=
ACCELERATOR_COUNT=